body {
    background-color: rgb(54, 53, 53);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-color: black;
    border: 1px solid;
    border-radius: 15px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 200px;
    padding: 50px
}

.input_login {
    border-color: black;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
}

.login_button {
    border-color: black;
    border-radius: 5px;
    border: 1px solid;
    font-size: 15px;
    background-color: white;
    margin-top: 10px;
}

.input_register {
    color: black;
    margin-top: 10px;
}

.text_login {
    font-size: 20px;
    font-weight: bold;
    color: wheat;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}